@charset "utf-8";
/*	repeating-radial-gradient()	:	HTML elementinin dairesel arkaplan renk geçişi tekrarlanma özelliklerini belirler.
Parametreler					:	Shape (Şekil) | Size (Boyut) | Direction (Yön) | Colors (Renkler)
Değerler						:	Ellipse (elips) & Circle (Daire) | farthest-corner (En uzak köşe) & closest-corner (En yakın köşe) & farthest-side (En uzak taraf) & closest-side (En yakın taraf) | Başlangıç noktası & açı - derece | Başlangıç rengi - bitiş rengi - dilimle	*/
body{
	background:-webkit-repeating-radial-gradient(red, yellow, red 25%);
	background:-moz-repeating-radial-gradient(red, yellow, red 25%);
	background:-o-repeating-radial-gradient(red, yellow, red 25%);
	background:-ms-repeating-radial-gradient(red, yellow, red 25%);
	background:repeating-radial-gradient(red, yellow, red 25%);
}