@charset "utf-8";
p{
	width:1000px;
	height:800px;
	border:4px solid blue;
	background-color:yellow;
	background-image:url(1.png), url(2.png), url(3.png), url(4.png);
	background-repeat:no-repeat;
	background-position:left top, right top, left bottom, right bottom;
}