@charset "utf-8";
/*	repeating-linear-gradient()	:	HTML elementinin doğrusal arkaplan renk geçişi tekrarlanma özelliklerini belirler.
Parametreler					:	Direction (Yön) | Colors (Renkler)
Değerler						:	Başlangıç noktası & açı - derece | başlangıç rengi - bitiş rengi & dilimleme.	*/
div{
	width:1000px;
	height:600px;
	border:2px solid black;
	background:-webkit-repeating-linear-gradient(right, red 0%, yellow 15%, blue 25%);
	background:-moz-repeating-linear-gradient(right, red 0%, yellow 15%, blue 25%);
	background:-o-repeating-linear-gradient(right, red 0%, yellow 15%, blue 25%);
	background:-ms-repeating-linear-gradient(right, red 0%, yellow 15%, blue 25%);
	background:repeating-linear-gradient(right, red 0%, yellow 15%, blue 25%);
}