@charset "utf-8";
/*	flex-direction	:	Esnek kutuların dizilim yönü özelliklerini belirler.
Değerler			:	row | row-reverse | column | column-reverse | initial
row					:	Satır.
row-reverse			:	Ters satır.
column				:	Sütun.
column-reverse		:	Ters sütun.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
#AnaEleman{
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:flex;
	width:300px;
	height:300px;
	border:thin solid grey;
	-webkit-flex-direction:row;
	-moz-flex-direction:row;
	-o-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
}
.IcElemanlar{
	width:50px;
	height:50px;
	border:thin solid grey;
}