@charset "utf-8";
/*	clip	:	absolute (mutlak / kesin) değeri ile konumlandırılmış bir HTML elementinin kırpma / maskeleme özelliklerini belirler.
Değerler	:	auto | shape | initial
auto		:	Otomatik değer alır.
shape		:	Şekil. rect() fonksiyonunu kullanır. (Rectangle : Dikdörtgen)
initial		:	HTML elementi varsayılan biçimlendirme değerine geri döner.	*/
div{
	position:absolute;
	width:200px;
	height:200px;
	border:1px solid blue;
	background-color:yellow;
	clip:rect(0px, 150px, 100px, 50px); /* 1. Parametre : Üst, 2. Parametre : Sağ, 3. Parametre : Alt, 4. Parametre : Sol */
}