@charset "utf-8";
/*	outline-width	:	HTML elementinin anahat genişliğini belirler.
Değerler			:	length | thin | medium | thick | initial | inherit
length				:	Uzunluk değeri.
thin				:	İnce.
medium				:	Orta.
thick				:	Kalın.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div[name="Bir"]{
	width:1000px;
	height:100px;
	outline:6px solid red;
	outline-width:4px;
}
div[name="Iki"]{
	width:900px;
	height:60px;
	outline:6px solid red;
	outline-width:inherit; /* outline-width:4px; */
}