@charset "utf-8";
/*	clip-path	:	absolute (mutlak / kesin) değeri ile konumlandırılmış bir HTML elementinin gelişmiş kırpma / maskeleme özelliklerini belirler.
Değerler		:	auto | shape | initial
auto			:	Otomatik değer alır.
shape			:	Şekil.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
Shape değerleri	:	inset | circle | ellipse | polygon
inset			:	İlave.
circle			:	Daire.
ellipse			:	Elips.
polygon			:	Poligon.	*/
img{
	position:absolute;
	clip-path:inset(150px 10px 90px 5px); /* 1. Parametre : Üst, 2. Parametre : Sağ, 3. Parametre : Alt, 4. Parametre : Sol */
}