@charset "utf-8";
/*	all		:	direction ve unicode-bidi hariç, diğer tüm CSS özelliklerinin sıfırlanacağı veya devralınacağı durumunu belirler.
Değerler	:	initial | inherit | unset
initial		:	Belirtilecek olan HTML elementinin, tüm CSS özellikleri varsayılan biçimlendirme değerine döner.
inherit		:	Belirtilecek olan HTML elementinin, üst elementinden normalde devralınmayan tüm CSS özelliklerini devralır.
unset		:	Belirtilecek olan HTML elementinin, üst elementinden normalde devralınmayan tüm CSS özelliklerini devralır. Fakat üst elementinde tanımlı herhangi bir özellik yoksa, tüm CSS
				özellikleri varsayılan biçimlendirme değerine döner.	*/
div{
	border:2px solid red;
	padding:10px;
	font-size:25px;
	font-weight:bold;
	color:red;
}
#Ornek{
	all:initial;
}