@charset "utf-8";
/*	padding		:	HTML elementinin dolgu / iç boşluk özelliklerini belirler.
Değerler		:	length | % | initial | inherit
length			:	Uzunluk değeri.
%				:	Yüzde değeri.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div#Bir{
	width:145px;
	height:80px;
	border:1px solid blue;
	padding:30px;
}
div#Iki{
	width:83px;
	height:18px;
	border:1px solid red;
	padding:inherit;	/* padding:30px; */
}