@charset "utf-8";
/*	grid-column-gap	:	Izgara düzeni içerisindeki element veya elementler için, oluşturulmuş olan sütunların aralarındaki boşluk değerlerini belirler.
Değerler			:	length | initial
length				:	Uzunluk değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
.AnaEleman{
	display:grid;
	width:1000px;
	border:1px solid red;
	padding:10px;
	grid-template-columns:repeat(5, auto);
	grid-column-gap:10px;
}
.IcElemanlar{
	border:1px solid blue;
	padding:10px;
}