@charset "utf-8";
/*	font-style	:	Metnin yazı tipi stilini belirler.
Değerler		:	normal | italic | oblique | initial | inherit
normal			:	Normal.
italic			:	İtalik.
oblique			:	Eğik.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	font-style:italic;
}
p{
	font-style:initial;
}
.Deneme{
	font-style:inherit; /* font-style:italic; */
}