@charset "utf-8";
/*	background-origin	:	HTML elementine atanmış olan arkaplan resminin başlangıç konumunu belirler.
Değerler				:	padding-box | border-box | content-box | initial | inherit
padding-box				:	Dolgu kutusu.
border-box				:	Kenarlık kutusu.
content-box				:	İçerik kutusu.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:1000px;
	height:625px;
	border:10px double red;
	padding:50px;
	background-image:url(Resim.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	background-origin:padding-box;
}