@charset "utf-8";
#Bir{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
}
#Bir:hover{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-180px;
}
#Iki{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-30px;
}
#Iki:hover{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-210px;
}
#Uc{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-60px;
}
#Uc:hover{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-240px;
}
#Dort{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-90px;
}
#Dort:hover{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-270px;
}
#Bes{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-120px;
}
#Bes:hover{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-300px;
}
#Alti{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-150px;
}
#Alti:hover{
	width:30px;
	height:30px;
	background-image:url(SosyalMedyaB.png);
	background-repeat:no-repeat;
	background-position:-330px;
}