@charset "utf-8";
div{
	width:200px;
	height:200px;
	border-top-width:20px;
	border-top-style:solid;
	border-top-color:red;
	-webkit-border-top-left-radius:50%;
	-moz-border-top-left-radius:50%;
	-o-border-top-left-radius:50%;
	-ms-border-top-left-radius:50%;
	border-top-left-radius:50%;
	-webkit-border-top-right-radius:50%;
	-moz-border-top-right-radius:50%;
	-o-border-top-right-radius:50%;
	-ms-border-top-right-radius:50%;
	border-top-right-radius:50%;
	border-right-width:20px;
	border-right-style:solid;
	border-right-color:red;
	border-bottom-width:20px;
	border-bottom-style:solid;
	border-bottom-color:red;
	-webkit-border-bottom-left-radius:50%;
	-moz-border-bottom-left-radius:50%;
	-o-border-bottom-left-radius:50%;
	-ms-border-bottom-left-radius:50%;
	border-bottom-left-radius:50%;
	-webkit-border-bottom-right-radius:50%;
	-moz-border-bottom-right-radius:50%;
	-o-border-bottom-right-radius:50%;
	-ms-border-bottom-right-radius:50%;
	border-bottom-right-radius:50%;
	border-left-width:20px;
	border-left-style:solid;
	border-left-color:red;
}