@charset "utf-8";
/*	padding-bottom	:	HTML elementinin alt dolgu / iç boşluk özelliklerini belirler.
Değerler			:	length | % | initial | inherit
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:83px;
	height:18px;
	border:1px solid red;
	padding-bottom:100px;
}
.Ilk{
	padding-bottom:initial;
}