@charset "utf-8";
/*	text-decoration-color	:	Metne eklenecek olan dekorasyon / süsleme çizgisi rengini belirler.
Değerler					:	color | initial | inherit
color						:	Renk.
initial						:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit						:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	text-decoration:underline wavy;
	-webkit-text-decoration-color:#FF9900;
	-moz-text-decoration-color:#FF9900;
	-o-text-decoration-color:#FF9900;
	-ms-text-decoration-color:#FF9900;
	text-decoration-color:#FF9900;
}