@charset "utf-8";
/*	user-select	:	Metnin kullanıcı tarafından seçilebilme durumunu belirler.
Değerler		:	auto | none | text | all | initial | inherit
auto			:	Otomatik değer alır.
none			:	Değer yok. (Metin seçilemez.)
text			:	Metin. (Metin seçilebilir.)
all				:	Tümü. (Tüm metin bir seferde seçilebilir.)
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none;
}