@charset "utf-8";
/*	font-variant-caps	:	Metnin küçük harf içerikleri için büyük harf alternatif gösterilme özelliklerini belirler.
Değerler				:	normal | small-caps | all-small-caps | petite-caps | all-petite-caps | unicase | initial | inherit
normal					:	Normal.
small-caps				:	Küçük harfli metinler, küçük harf boyutu korunarak büyük harf olarak dönüştürülür.
all-small-caps			:	Tüm metinler, küçük harf boyutu korunarak büyük harf olarak dönüştürülür.
petite-caps				:	Küçük harfli metinler, küçük harf boyutu korunarak büyük harf olarak dönüştürülür. (Yazı tipi ailesi küçük harf büyüklüğünü desteklemiyorsa, small-caps gibi davranır.)
all-petite-caps			:	Tüm metinler, küçük harf boyutu korunarak büyük harf olarak dönüştürülür. (Yazı tipi ailesi küçük harf büyüklüğünü desteklemiyorsa, all-small-caps gibi davranır.)
unicase					:	Büyük harfli metinler, küçük harf boyutu korunarak büyük harf olarak dönüştürülür.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elentini biçimlendirme değerini alır.	*/
p{
	font-variant-caps:all-small-caps;
}