@charset "utf-8";
/* border-style		:	HTML elementinin kenarlık / çerçeve stilini belirler.
Değerler			:	none | hidden | solid | double | dashed | dotted | groove | ridge | inset | outset | initial | inherit
none				:	Değer yok.
hidden				:	Gizli.
solid				:	Düz çizgi.
double				:	Çift çizgi.
dashed				:	Kesikli çizgi.
dotted				:	Noktalı çizgi.
groove				:	İçe dönük gölgeli çizgi.
ridge				:	Dışa dönük gölgeli çizgi.
inset				:	İçe dönük derin çizgi.
outset				:	Dışa dönük derin çizgi.	
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
span{
	border-style:solid double dashed dotted; /* 1. Parametre : Üst, 2. Parametre : Sağ, 3. Parametre : Alt, 4. Parametre : Sol */
}