@charset "utf-8";
/*	color	:	Metnin rengini belirler.
Değerler	:	color | initial | inherit
color		:	Renk.
initial		:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit		:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
h3{
	color:#FF0000;
}
div{
	color:rgba(255, 0, 0, 0.5);
}
p{
	color:rgba(255, 0, 0, 0.1);
}