@charset "utf-8";
/*	padding-top		:	HTML elementinin üst dolgu / iç boşluk özelliklerini belirler.
Değerler			:	length | % | initial | inherit
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
#Bir{
	width:85px;
	height:200px;
	border:1px solid blue;
	padding-top:25px;
}
#Iki{
	width:83px;
	height:18px;
	border:1px solid red;
	padding-top:inherit; /* padding-top:25px; */
}
#Uc{
	width:83px;
	height:18px;
	border:1px solid red;
	padding-top:inherit; /* padding-top:25px; */
}
#Dort{
	width:83px;
	height:18px;
	border:1px solid red;
	padding-top:inherit; /* padding-top:25px; */
}