@charset "utf-8";
/*	column-gap	:	HTML elementinin çok sütunlu düzeni için bölünen sütunların aralarındaki boşluk değerlerini belirler.
Değerler		:	normal | length | initial | inherit
normal			:	Normal.
length			:	Uzunluk değeri.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	-webkit-column-count:3;
	-moz-column-count:3;
	-o-column-count:3;
	-ms-column-count:3;
	column-count:3;
	-webkit-column-gap:100px;
	-moz-column-gap:100px;
	-o-column-gap:100px;
	-ms-column-gap:100px;
	column-gap:100px;
}
#Ornek{
	-webkit-column-gap:initial;
	-moz-column-gap:initial;
	-o-column-gap:initial;
	-ms-column-gap:initial;
	column-gap:initial;
}