@charset "utf-8";
/*	margin-right	:	HTML elementinin sağ kenar boşluğu / dış boşluk özelliklerini belirler.
Değerler			:	length | % | auto | initial | inherit
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
auto				:	Otomatik değer alır.
initial 			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
span{
	width:83px;
	height:50px;
	border:1px solid red;
}
#Bir{
	margin-right:25px;
}