@charset "utf-8";
/*	justify-content	:	Esnek kutu içerisinde bulunan elementler tüm alanı kaplamadığında, elementlerin arasındaki hizalama özelliklerini belirler.
Değerler			:	flex-start | flex-end | center | space-between | space-around | initial
flex-start			:	Esnek başlangıç.
flex-end			:	Esnek bitiş.
center				:	Orta.
space-between		:	Boşluk arasında.
space-around		:	Boşluk etrafında.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
.AnaEleman{
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:flex;
	border:1px solid red;
	width:50px;
	height:750px;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-o-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-justify-content:center;
	-moz-justify-content:center;
	-o-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
}
.Elemanlar{
	border:1px solid blue;
	width:48px;
	height:100px;
}