@charset "utf-8";
/*	border-radius	:	HTML elementinin kenarlık / çerçeve köşelerinin yuvarlaklığını belirler.
Değerler			:	length | % | initial | inherit
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:200px;
	height:200px;
	border:2px solid #F00;
	-webkit-border-radius:10px 20px 30px; /* 1. Parametre : Üst, 2. Parametre : Sağ ve Sol, 3. Parametre : Alt */ 
	-moz-border-radius:10px 20px 30px; /* 1. Parametre : Üst, 2. Parametre : Sağ ve Sol, 3. Parametre : Alt */ 
	-o-border-radius:10px 20px 30px; /* 1. Parametre : Üst, 2. Parametre : Sağ ve Sol, 3. Parametre : Alt */ 
	-ms-border-radius:10px 20px 30px; /* 1. Parametre : Üst, 2. Parametre : Sağ ve Sol, 3. Parametre : Alt */ 
	border-radius:10px 20px 30px; /* 1. Parametre : Üst, 2. Parametre : Sağ ve Sol, 3. Parametre : Alt */ 
}