@charset "utf-8";
/*	columns		:	HTML elementinin çok sütunlu düzeni için bölünmesi gereken sütunların minimum genişlik ve maksimum sütun sayısı özelliklerini belirler.
Parametreler	:	column-width | column-count
Değerler		:	auto | column-width | column-count | initial | inherit
auto			:	Otomatik değer alır.
column-width	:	Sütun genişlik değeri.
column-count	:	Sütun adedi değeri.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	-webkit-columns:300px 4;
	-moz-columns:300px 4;
	-o-columns:300px 4;
	-ms-columns:300px 4;
	columns:300px 4;
}
#Ornek{
	-webkit-columns:initial;
	-moz-columns:initial;
	-o-columns:initial;
	-ms-columns:initial;
	columns:initial;
}