@charset "utf-8";
/*	text-stroke-width	:	Metne eklenecek olan dış çizgisi genişliğini belirler.
Değerler				:	length | initial | inherit
length					:	Uzunluk değer.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	color:red;
	-webkit-text-stroke-width:1px;
	-moz-text-stroke-width:1px;
	-o-text-stroke-width:1px;
	-ms-text-stroke-width:1px;
	text-stroke-width:1px;
}