@charset "utf-8";
/*	text-orientation	:	Metnin writing-mode özelliği ile belirtilmiş hizalama yönü özelliğinin döndürme durumunu belirler.
Değerler				:	mixed | upright | initial | inherit
mixed					:	Karışık.
upright					:	Dik.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:200px;
	height:500px;
	border:thin solid red;
	-webkit-writing-mode:vertical-lr;
	-moz-writing-mode:vertical-lr;
	-o-writing-mode:vertical-lr;
	-ms-writing-mode:vertical-lr;
	writing-mode:vertical-lr;
	-webkit-text-orientation:upright;
	-moz-text-orientation:upright;
	-o-text-orientation:upright;
	-ms-text-orientation:upright;
	text-orientation:upright;
}