@charset "utf-8";
/*	max-width	:	HTML elementinin maksimum genişliğini belirler.
Değerler		:	none | length | % | initial | inherit
none			:	Değer yok.
length			:	Uzunluk değeri.
%				:	Yüzde değeri.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin değerini alır.	*/
div{
	background-color:blue;
	max-width:75%;
}
p{
	background-color:yellow;
	max-width:50%;
}