@charset "utf-8";
/*	column-width	:	HTML elementinin çok sütunlu düzeni için bölünmesi gereken sütunların genişliğini belirler.
Değerler			:	auto | length | initial | inherit
auto				:	Otomatik değer alır.
length				:	Uzunluk değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	-webkit-column-width:500px;
	-moz-column-width:500px;
	-o-column-width:500px;
	-ms-column-width:500px;
	column-width:500px;
}
p{
	-webkit-column-width:inherit; /* -webkit-column-width:500px; */
	-moz-column-width:inherit; /* -moz-column-width:500px; */
	-o-column-width:inherit; /* -o-column-width:500px; */
	-ms-column-width:inherit; /* -ms-column-width:500px; */
	column-width:inherit; /* column-width:500px; */
}