@charset "utf-8";
/*	z-index		:	Konumlandırılmış bir HTML elementinin katman / yığın sırasını belirler.
Değerler		:	auto | number | initial
auto			:	Otomatik değer alır.
number			:	Rakam değeri. (En büyük rakam değeri daima en üstte olacaktır.)
initial			:	HTML elementi varsayılan biçilendirme değerine döner.	*/
div{
	position:absolute;
	width:200px;
	height:200px;
	border:1px solid red;
}
#bir{
	background-color:yellow;
}
#iki{
	background-color:blue;
}
#uc{
	background-color:red;
	z-index:1;
}
#dort{
	background-color:green;
}
#bes{
	background-color:grey;
}