@charset "utf-8";
/*	radial-gradient()	:	HTML elementinin dairesel arkaplan renk geçişi özelliklerini belirler.
Parametreler			:	Shape (Şekil) | Size (Boyut) | Direction (Yön) | Colors (Renkler)
Değerler				:	Ellipse (elips) & Circle (Daire) | farthest-corner (En uzak köşe) & closest-corner (En yakın köşe) & farthest-side (En uzak taraf) & closest-side (En yakın taraf) | Başlangıç noktası & açı - derece | Başlangıç rengi - bitiş rengi	*/
body{
	background-color:red;
}
div{
	width:600px;
	height:450px;
	border:2px solid blue;
	background:-webkit-radial-gradient(circle, white, white 10px, black 10px, black);
	background:-moz-radial-gradient(circle, white, white 10px, black 10px, black);
	background:-o-radial-gradient(circle, white, white 10px, black 10px, black);
	background:-ms-radial-gradient(circle, white, white 10px, black 10px, black);
	background:radial-gradient(circle, white, white 10px, black 10px, black);
}