@charset "utf-8";
/*	border-color	:	HTML elementinin kenarlık / çerçeve rengini belirler.
Değerler			:	color | transparent | initial | inherit
color				:	Renk.
transparent			:	Transparan.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
span{
	border:4px solid;
	border-color:transparent;
}