@charset "utf-8";
/*	line-height	:	Metin bloğunda bulunan satırların yüksekliğini belirler.
Değerler		:	normal | number | length | % | initial | inherit
normal			:	Normal.
number			:	Rakam değeri.
length			:	Uzunluk değeri.
% 				:	Yüzde değeri.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:500px;
	height:300px;
	border:2px solid red;
	line-height:10%;
}