@charset "utf-8";
/*	box-shadow	:	HTML elementinin gölgelendirme özelliklerini belirler.
Parametreler	:	horizontal shadow (yatay gölge) | vertical shadow (dikey gölge) | blur spread (bulanıklık yayma) | spread radius (yayma yarıçapı) | color (renk)
Değerler		:	none | length | inset | initial
none			:	Değer yok.
length			:	Uzunluk değeri.
inset			:	İlave. (İçerisinde.)
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
div{
	width:1800px;
	height:auto;
	padding:25px;
	border:2px solid black;
	-webkit-box-shadow:5px 5px red, 10px 10px yellow, 15px 15px blue, 20px 20px purple, 25px 25px green, 30px 30px orange;
	-moz-box-shadow:5px 5px red, 10px 10px yellow, 15px 15px blue, 20px 20px purple, 25px 25px green, 30px 30px orange;
	-o-box-shadow:5px 5px red, 10px 10px yellow, 15px 15px blue, 20px 20px purple, 25px 25px green, 30px 30px orange;
	-ms-box-shadow:5px 5px red, 10px 10px yellow, 15px 15px blue, 20px 20px purple, 25px 25px green, 30px 30px orange;
	box-shadow:5px 5px red, 10px 10px yellow, 15px 15px blue, 20px 20px purple, 25px 25px green, 30px 30px orange;
}