@charset "utf-8";
/*	border-radius	:	HTML elementinin kenarlık / çerçeve köşelerinin yuvarlaklığını belirler.
Değerler			:	length | % | initial | inherit
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:200px;
	height:200px;
	border:2px solid #F00;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
}
div{
	-webkit-border-radius:initial;
	-moz-border-radius:initial;
	-o-border-radius:initial;
	-ms-border-radius:initial;
	border-radius:initial;
}