@charset "utf-8";
/*	::selection	:	Belirtilen HTML elementinin kullanıcı tarafından seçilen kısmına stil tanımlar.	*/
::-webkit-selection{
	background-color:red;
	color:white;
}
::-moz-selection{
	background-color:red;
	color:white;
}
::-o-selection{
	background-color:red;
	color:white;
}
::-ms-selection{
	background-color:red;
	color:white;
}
::selection{
	background-color:red;
	color:white;
}