@charset "utf-8";
/*	linear-gradient()	:	HTML elementinin doğrusal arkaplan renk geçişi özelliklerini belirler.
Parametreler			:	Direction (Yön) | Colors (Renkler)
Değerler				:	Başlangıç noktası & açı - derece | Başlangıç rengi - bitiş rengi	*/
body{
	background:-webkit-linear-gradient(left, blue, yellow);
	background:-moz-linear-gradient(left, blue, yellow);
	background:-o-linear-gradient(left, blue, yellow);
	background:-ms-linear-gradient(left, blue, yellow);
	background:linear-gradient(left, blue, yellow);
}