@charset "utf-8";
/*	opacity	:	HTML elementinin opaklık / şeffaflık özelliklerini belirler.
Değerler	:	number | initial
number		:	Rakam değeri. (0.0 ila 1.0 arasında) (0.0 en şeffaf değer.) (1.0 şeffaflık yok.)
initial		:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
div{
	border:2px solid black;
	width:500px;
	height:100px;
	background-color:darkblue;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: Alpha(opacity=60);
	opacity:0.6;
}
#Ornek{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: Alpha(opacity=100);
	opacity:initial;
}