@charset "utf-8";
/*	clip-path	:	absolute (mutlak / kesin) değeri ile konumlandırılmış bir HTML elementinin gelişmiş kırpma / maskeleme özelliklerini belirler.
Değerler		:	auto | shape | initial
auto			:	Otomatik değer alır.
shape			:	Şekil.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
Shape değerleri	:	inset | circle | ellipse | polygon
inset			:	İlave.
circle			:	Daire.
ellipse			:	Elips.
polygon			:	Poligon.	*/
div{
	position:absolute;
	width:500px;
	height:500px;
	background-color:yellow;
	clip-path:auto;
}