@charset "utf-8";
/*	text-align	:	Metnin veya içeriğin yatay hizalama özelliklerini belirler.
Değerler		:	left | right | center | justify | initial | inherit
left			:	Sol
right			:	Sağ
center			:	Orta
justify			:	Sağa ve sola eşit
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:750px;
	height:auto;
	border:1px solid blue;
	text-align:justify;
}