@charset "utf-8";
/*	text-decoration-color	:	Metne eklenecek olan dekorasyon / süsleme çizgisi rengini belirler.
Değerler					:	color | initial | inherit
color						:	Renk.
initial						:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit						:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	text-decoration:underline;
	-webkit-text-decoration-color:red;
	-moz-text-decoration-color:red;
	-o-text-decoration-color:red;
	-ms-text-decoration-color:red;
	text-decoration-color:red;
}
p{
	-webkit-text-decoration-color:initial;
	-moz-text-decoration-color:initial;
	-o-text-decoration-color:initial;
	-ms-text-decoration-color:initial;
	text-decoration-color:initial;
}
#Deneme{
	-webkit-text-decoration-color:inherit; /* -webkit-text-decoration-color:red; */
	-moz-text-decoration-color:inherit; /* -moz-text-decoration-color:red; */
	-o-text-decoration-color:inherit; /* -o-text-decoration-color:red; */
	-ms-text-decoration-color:inherit; /* -ms-text-decoration-color:red; */
	text-decoration-color:inherit; /* text-decoration-color:red; */
}