@charset "utf-8";
/*	border-top-right-radius	:	HTML elementinin sağ üst köşe kenarlık / çerçeve yuvarlaklığını belirler.
Değerler					:	length | % | initial | inherit
length						:	Uzunluk değeri.
%							:	Yüzde değeri.
initial						:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit						:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:1000px;
	height:200px;
	border:4px solid red;
	-webkit-border-top-right-radius:100px 50%;
	-moz-border-top-right-radius:100px 50%;
	-o-border-top-right-radius:100px 50%;
	-ms-border-top-right-radius:100px 50%;
	border-top-right-radius:100px 50%;
}
.Deneme{
	-webkit-border-top-right-radius:initial;
	-moz-border-top-right-radius:initial;
	-o-border-top-right-radius:initial;
	-ms-border-top-right-radius:initial;
	border-top-right-radius:initial;
}