@charset "utf-8";
/*	grid-template	:	Izgara düzeni içerisindeki element veya elementler için, tüm satır ve sütun işlemlerinin yanı sıra alan yerleştirme özelliklerini belirler.
Parametreler		:	grid-template-rows (Satır adedi ve boyutu) | grid-template-columns (Sütun adedi ve boyutu) | grid-template-areas (Tüm satır ve sütun için alan yerleştirme)
Değerler			:	none | initial
none				:	Değer yok.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
.AnaEleman{
	display:grid;
	border:1px solid red;
	padding:10px;
	grid-gap:5px;
	grid-template:100px / auto auto auto auto auto;
}
.IcElemanlar{
	border:1px solid blue;
	padding:5px;
}