@charset "utf-8";
/*	column-rule-width	:	HTML elementinin çok sütunlu düzeni için bölünen sütunların aralarındaki dikey ayraç genişliğini belirler.
Değerler				:	length | thin | medium | thick | initial | inherit
length					:	Uzunluk değeri.
thin					:	İnce.
medium					:	Orta.
thick					:	Kalın.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	-webkit-columns:3;
	-moz-columns:3;
	-o-columns:3;
	-ms-columns:3;
	columns:3;
	-webkit-column-gap:100px;
	-moz-column-gap:100px;
	-o-column-gap:100px;
	-ms-column-gap:100px;
	column-gap:100px;
	-webkit-column-rule-style:dashed;
	-moz-column-rule-style:dashed;
	-o-column-rule-style:dashed;
	-ms-column-rule-style:dashed;
	column-rule-style:dashed;
	-webkit-column-rule-width:thin;
	-moz-column-rule-width:thin;
	-o-column-rule-width:thin;
	-ms-column-rule-width:thin;
	column-rule-width:thin;
}