@charset "utf-8";
/*	flex-wrap	:	Esnek kutuların satır kırılma özelliklerini belirler.
Değerler		:	nowrap | wrap | wrap-reverse | initial
nowrap			:	Kırılma yok.
wrap			:	Kırılma.
wrap-reverse	:	Ters kırılma.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
.AnaEleman{
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:flex;
	width:250px;
	height:250px;
	border:thin solid grey;
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-o-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-o-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.IcElemanlar{
	width:50px;
	height:50px;
	border:thin solid grey;
}