@charset "utf-8";
/*	min-width	:	HTML elementinin minimum genişliğini belirler.
Değerler		:	length | % | initial | inherit
length			:	Uzunluk değeri.
%				:	Yüzde değeri.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
#Bir{
	background-color:blue;
	min-width:80%;
}
#Iki{
	background-color:yellow;
	min-width:inherit; /* min-width:80%; */
}