@charset "utf-8";
/*	color	:	Metnin rengini belirler.
Değerler	:	color | initial | inherit
color		:	Renk.
initial		:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit		:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
body{
	color:red;
}