@charset "utf-8";
/*	font-variant	:	Metnin küçük harf içerikleri için büyük harf gösterilme özelliklerini belirler.
Değerler			:	normal | small-caps | initial | inherit
normal				:	Normal.
small-caps			:	Küçük harfli metinler, küçük harf boyutu korunarak büyük harf olarak dönüştürülür.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	font-variant:small-caps;
}
p{
	font-variant:initial;
}
.Orta{
	font-variant:inherit; /* font-variant:small-caps; */
}