@charset "utf-8";
/*	:nth-child()	:	Belirtilen HTML elementi baz alınarak, üst elementine göre kardeş element türüne bakılmaksızın, ilk child (çocuk) durumundaki elementten başlayarak sıra numarasına / numaralarına göre stil tanımlar.
	odd		: 	Tek haneye göre sıralama
	even	: 	Çift haneye göre sıralama	*/
div:nth-child(3n+7){
	background-color:#F1F1F1;
}	