@charset "utf-8";
/*	background-clip		:	HTML elementine atanmış olan arkaplan renginin başlangıç konumunu belirler.
Değerler				:	padding-box | border-box | content-box | initial | inherit
padding-box				:	Dolgu kutusu.
border-box				:	Kenarlık kutusu.
content-box				:	İçerik kutusu.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:1000px;
	height:700px;
	border:10px double blue;
	padding:50px;
	background-color:green;
	background-clip:padding-box;
}
p{
	width:900px;
	height:563px;
	border:10px double red;
	padding:50px;
	background-color:yellow;
	background-clip:inherit; /* background-clip:padding-box; */
}