@charset "utf-8";
/*	text-stroke-width	:	Metne eklenecek olan dış çizgisi genişliğini belirler.
Değerler				:	length | initial | inherit
length					:	Uzunluk değer.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	-webkit-text-stroke-width:2px;
	-moz-text-stroke-width:2px;
	-o-text-stroke-width:2px;
	-ms-text-stroke-width:2px;
	text-stroke-width:2px;
}
#Deneme{
	-webkit-text-stroke-width:initial;
	-moz-text-stroke-width:initial;
	-o-text-stroke-width:initial;
	-ms-text-stroke-width:initial;
	text-stroke-width:initial;
}