@charset "utf-8";
/*	object-position	:	HTML elementinin boyutlandırılmış alanına sığmayacak kadar büyük resim veya video içeriklerinin, object-fit özelliği kullanılarak yeniden boyutlandırılma sonrasındaki resmin
						veya videonun konum özelliklerini belirler.
Parametreler		:	horizontal value (yatay değer) | vertical value (yatay değer)
Değerler			:	length | % | center | top | right | bottom | left | initial
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
center				:	Orta.
top					:	Üst.
right				:	Sağ.
bottom				:	Alt.
left				:	Sol.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
img{
	width:200px;
	height:400px;
	object-fit:cover;
	object-position:right top;
}