@charset "utf-8";
/*	align-self	:	Izgara düzeni içerisinde bulunan seçilen element veya elementlerin, dikey hizalama özelliklerini belirler.
Değerler		:	auto | stretch | center | start | end | initial
auto			:	Otomatik değer alır.
stretch			:	Uzat / esne.
center			:	Orta.
start			:	Başlangıç.
end				:	Bitiş.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
.AnaEleman{
	display:grid;
	height:500px;
	border:thin solid red;
	padding:10px;
	grid-template-columns:auto auto auto auto auto;
	grid-gap:10px;
	-webkit-align-items:start;
	-moz-align-items:start;
	-o-align-items:start;
	-ms-align-items:start;
	align-items:start;
}
.IcElemanlar{
	border:thin solid blue;
	padding:10px;
}
.Islem{
	-webkit-align-self:auto;
	-moz-align-self:auto;
	-o-align-self:auto;
	-ms-align-self:auto;
	align-self:auto;
}