@charset "utf-8";
/*	outline-color	:	HTML elementinin anahat rengini belirler.
Değerler			:	color | invert | initial | inherit
color				:	Renk.
invert				:	Ters Çevir.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
#aaa{
	width:1000px;
	height:100px;
	background-color:blue;
	outline:20px solid red;
}
#bbb{
	width:1000px;
	height:100px;
	outline:20px solid red;
	outline-color:invert;
}