@charset "utf-8";
/*	list-style-image	:	Listedeki madde işaretçisinin resim özelliklerini belirler.
Değerler				:	none | url | initial | inherit
none					:	Değer yok.
url						:	Dosya adresi.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
ul{
	list-style-image:url(Yildiz.png);
}
#Deneme{
	list-style-image:initial;
}