@charset "utf-8";
/*	column-fill	:	HTML elementinin çok sütunlu düzeni için bölünen sütunların nasıl doldurulacağı durumunu belirler.
Değerler		:	balance | auto | initial | inherit
balance			:	Dengeli.
auto			:	Otomatik değer alır.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div#UstElement{
	border:2px solid red;
	height:276px;
	-webkit-column-fill:auto;
	-moz-column-fill:auto;
	-o-column-fill:auto;
	-ms-column-fill:auto;
	column-fill:auto;
}
.Deneme{
	-webkit-column-count:4;
	-moz-column-count:4;
	-o-column-count:4;
	-ms-column-count:4;
	column-count:4;
	border:2px solid blue;
	height:125px;
}
#Ornek{
	-webkit-column-fill:inherit; /* -webkit-column-fill:auto; */
	-moz-column-fill:inherit; /* -moz-column-fill:auto; */
	-o-column-fill:inherit; /* -o-column-fill:auto; */
	-ms-column-fill:inherit; /* -ms-column-fill:auto; */
	column-fill:inherit; /* column-fill:auto; */
}