@charset "utf-8";
/*	width	:	HTML elementinin genişliğini belirler.
Değerler	:	auto | length | % | initial | inherit
auto		:	Otomatik değer alır.
length		:	Uzunluk değeri.
%			:	Yüzde değeri.
initial		:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit		:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	background-color:yellow;
	width:40%;
}