@charset "utf-8";
/*	grid-template-rows	:	Izgara düzeni içerisindeki element veya elementlerin, oluşturulması gereken satır boyutu yüksekliğini belirler.
Değerler				:	none | auto | max-content | min-content | length | initial
none					:	Değer yok.
auto					:	Otomatik değer alır.
max-content				:	Maksimum içerik.
min-content				:	Minimum içerik.
length					:	Uzunluk değeri.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
.AnaEleman{
	display:grid;
	border:1px solid red;
	width:500px;
	padding:10px;
	grid-template-rows:repeat(2, 100px) 200px 300px repeat(4, 60px) auto 500px;
}
.IcElemanlar{
	border:1px solid blue;
	padding:10px;
}