@charset "utf-8";
/*	text-decoration-style	:	Metne eklenecek olan dekorasyon / süsleme çizgisi stilini belirler.
Değerler					:	solid | dashed | dotted | double | wavy | initial | inherit
solid						:	Düz çizgi.
dashed						:	Kesikli çizgi.
dotted						:	Noktalı çizgi.
double						:	Çift çizgi.
wavy						:	Dalgalı çizgi.
initial						:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit						:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	-webkit-text-decoration-line:overline;
	-moz-text-decoration-line:overline;
	-o-text-decoration-line:overline;
	-ms-text-decoration-line:overline;
	text-decoration-line:overline;
	-webkit-text-decoration-style:wavy;
	-moz-text-decoration-style:wavy;
	-o-text-decoration-style:wavy;
	-ms-text-decoration-style:wavy;
	text-decoration-style:wavy;
}
p{
	-webkit-text-decoration-style:initial;
	-moz-text-decoration-style:initial;
	-o-text-decoration-style:initial;
	-ms-text-decoration-style:initial;
	text-decoration-style:initial;
}