@charset "utf-8";
/*	list-style		:	Listedeki madde işaretçisinin tüm özelliklerini belirler.
Parametreler		:	list-style-type | list-style-position | list-style-image | initial | inherit
list-style-type		:	Listedeki madde işaretçisinin türü.
list-style-position	:	Listedeki madde işaretçisinin içerik akışındaki konumu.
list-style-image	:	Listedeki madde işaretçisinin resmi.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
ul{
	list-style:square inside url(Yildiz.png);
}
.Sinif{
	list-style:initial;
}