@charset "utf-8";
/*	animation		:	HTML elementinin tüm animasyon özelliklerini belirler.
Parametreler		:	animation-name | animation-duration | animation-timing-function | animation-delay | animation-iteration-count | animation-direction | animation-fill-mode
						animation-play-state
Varsayılan Değerler	:	none 0 ease 0 1 normal none running
Değerler			:	animation value | initial
animation value		:	Animasyon özelliği değeri / değerleri
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
div{
	width:50px;
	height:50px;
	background-color:red;
	-webkit-animation:ExtraEgitim 3s linear 0s infinite alternate none running;
	-moz-animation:ExtraEgitim 3s linear 0s infinite alternate none running;
	-o-animation:ExtraEgitim 3s linear 0s infinite alternate none running;
	-ms-animation:ExtraEgitim 3s linear 0s infinite alternate none running;
	animation:ExtraEgitim 3s linear 0s infinite alternate none running;
}
@keyframes ExtraEgitim{
	from{
		width:50px;
	}
	to{
		width:1500px;
	}
}
#Islem{
	-webkit-animation:initial;
	-moz-animation:initial;
	-o-animation:initial;
	-ms-animation:initial;
	animation:initial;
}