@charset "utf-8";
/*	@font-face		:	Metinler için sistemde yüklü olmayan font'ların kullanılabilme durumlarını belirler.
Değerler			:	font-family | local | src | font-style | font-weight
font-family			:	Metnin yazı tipi ailesi.
local				:	Yerel.
src					:	Dosya adresi.
font-style			:	Metnin yazı tipi stili.
font-weight			:	Metnin yazı tipi kalınlığı.

Font Dosya Türleri	:	EOT | WOFF2 | WOFF | TTF & OTF | SVG
EOT					:	Internet Explorer - Microsoft Edge
WOFF2				:	Chrome - Firefox - Opera
WOFF				:	Tüm tarayıcılar.
TTF & OTF			:	Tüm tarayıcılar.
SVG					:	Chrome - Safari - Opera	*/
@font-face{
	font-family:"Walt Disney Script v41 Regular";
	src:url("Fontlar/Walt_Disney_Script_v41_Regular.eot"); /* Internet Explorer - Microsoft Edge */
	src:url("Fontlar/Walt_Disney_Script_v41_Regular.eot?#iefix") format("embedded-opentype"), /* Internet Explorer 6 - 8 */
		url("Fontlar/Walt_Disney_Script_v41_Regular.woff2") format("woff2"), /* Modern tarayıcılar (Süper) */
		url("Fontlar/Walt_Disney_Script_v41_Regular.woff") format("woff"), /* Modern tarayıcılar */
		url("Fontlar/Walt_Disney_Script_v41_Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("Fontlar/Walt_Disney_Script_v41_Regular.svg#walt_disney_script_v4.1Rg") format("svg"); /* iOS */
	font-style:italic;
	font-weight:bold;
}
h3, div, p{
	font-family:"Walt Disney Script v41 Regular";
}