@charset "utf-8";
/*	list-style-position	:	Listedeki madde işaretçisinin içerik akışındaki konum özelliklerini belirler.
Değerler				:	outside | inside | initial | inherit
outside					:	Dışında.
inside					:	İçinde.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
ul{
	list-style-position:outside;
}