@charset "utf-8";
/*	border-image-outset	:	HTML elementi kenarlık / çerçeve resminin, kenarlık / çerçeve sınırından dışa taşma özelliklerini belirtir.
Değerler				:	length | initial | inherit
length					:	Uzunluk değeri.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerinei alır.	*/
#Bir{
	width:50%;
	height:70px;
	border:10px solid red;
	-webkit-border-image:url(Resim.png) 30 round;
	-moz-border-image:url(Resim.png) 30 round;
	-o-border-image:url(Resim.png) 30 round;
	-ms-border-image:url(Resim.png) 30 round;
	border-image:url(Resim.png) 30 round;
	border-image-outset:5px;
}
#Iki{
	width:50%;
	height:50px;
	border:10px solid red;
	-webkit-border-image:url(Resim.png) 30 round;
	-moz-border-image:url(Resim.png) 30 round;
	-o-border-image:url(Resim.png) 30 round;
	-ms-border-image:url(Resim.png) 30 round;
	border-image:url(Resim.png) 30 round;
	border-image-outset:inherit; /* border-image-outset:5px; */
}