@charset "utf-8";
/*	caret-color		:	HTML'in bilgi girişi elementlerinin veya düzenlenebilir değerine sahip herhangi bir elementinin imleç rengini belirler.
Değerler			:	auto | color | transparent | initial
auto				:	Otomatik değer alır.
color				:	Renk değeri.
transparent			:	Transparan değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
input, textarea, div{
	caret-color:transparent;
}