@charset "utf-8";
/*	border-bottom-color	:	HTML elementinin alt kenarlık / çerçeve rengini belirler.
Değerler				:	color | transparent | initial | inherit
color					:	Renk değeri.
transparent				:	Transparan değeri.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div#Bir{
	width:250px;
	height:100px;
	border:10px solid red;
	border-bottom-color:yellow;
}
div#Iki{
	width:150px;
	height:40px;
	border:10px solid red;
	border-bottom-color:inherit; /* border-bottom-color:yellow; */
}