@charset "utf-8";
/*	column-fill	:	HTML elementinin çok sütunlu düzeni için bölünen sütunların nasıl doldurulacağı durumunu belirler.
Değerler		:	balance | auto | initial | inherit
balance			:	Dengeli.
auto			:	Otomatik değer alır.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	border:2px solid red;
	height:150px;
	-webkit-column-count:3;
	-moz-column-count:3;
	-o-column-count:3;
	-ms-column-count:3;
	column-count:3;
	-webkit-column-fill:auto;
	-moz-column-fill:auto;
	-o-column-fill:auto;
	-ms-column-fill:auto;
	column-fill:auto;
}