@charset "utf-8";
/*	background-color	:	HTML elementinin arkaplan rengini belirler.
Değerler				:	transparent | color | initial | inherit
transparent				:	Transparan.
color					:	Renk.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	border:2px solid red;
	background-color:yellow;
}