@charset "utf-8";
/*	overflow	:	HTML elementinin boyutlandırılmış alanına sığmayacak kadar büyük olan içeriğin taşma özelliklerini belirler.
Değerler		:	visible | hidden | scroll | auto | initial | inherit
visible			:	Görünür.
hidden			:	Gizli.
scroll			:	Kaydırma.
auto			:	Otomatik değer alır.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:1000px;
	height:250px;
	border:thick solid red;
	overflow:auto;
}