@charset "utf-8";
/*	:hover	:	Belirtilen HTML elementinin mouse (fare) üzerine geldiğinde stil tanımlar. Belirtilen HTML elementinin mouse (fare) üzerinden ayrıldığında stil normale döner.	*/
a:hover{
	color:red;
	text-decoration:none;
}