@charset "utf-8";
/*	overflow-wrap	:	HTML elementinin boyutlandırılmış alanına sığmayacak kadar büyük metnin satır kırılma özelliklerini belirler.
Değerler			:	normal | break-word | initial | inherit
normal				:	Normal.
break-word			:	Kelime kır.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:1000px;
	height:100px;
	border:4px double red;
	overflow-wrap:normal;
}