@charset "utf-8";
/*	background-image	:	HTML elementinin arkaplan resmini belirler.
Değerler				:	none | image | initial | inherit
none					:	Değer yok.
image					:	Resim.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit					:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:1000px;
	height:220px;
	border:10px solid black;
	background-image:url(Logo.png);
}
p{
	width:800px;
	height:150px;
	border:10px solid green;
	background-color:black;
	background-image:inherit; /* background-image:url(Logo.png); */
}