@charset "utf-8";
/*	height		:	HTML elementinin yüksekliğini belirler.
Değerler		:	auto | length | % | initial | inherit
auto			:	Otomatik değer alır.
length			:	Uzunluk değeri.
%				:	Yüzde değeri.
initial			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit			:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
#AnaEleman{
	height:100px;
}
#Bir{
	background-color:red;
	height:inherit; /* height:100px; */
}