@charset "utf-8";
/*	clear	:	HTML elementine atanmış olan kayma özelliğinin temizlenme durumunu belirler.
Değerler	:	none | left | right | both | initial
none		:	Değer yok.
left		:	Sol.
right		:	Sağ.
both		:	Her ikiside.
initial		:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
div{
	width:100px;
	border:1px solid blue;
	margin:2px;
}
#Iki, #Dort{
	float:right;
}
#Uc, #Bes{
	float:left;
}