@charset "utf-8";
#AnaEleman{
	background-color:#03A8D1;
	border:2px solid blue;
	display:-webkit-flex;
	display:-moz-flex;
	display:-o-flex;
	display:-ms-flex;
	display:flex;
}
.IcElemanlar{
	border:2px solid red;
	color:white;
	padding:10px;
}