@charset "utf-8";
/*	margin-left		:	HTML elementinin sol kenar boşluğu / dış boşluk özelliklerini belirler.
Değerler			:	length | % | auto | initial | inherit
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
auto				:	Otomatik değer alır.
initial 			:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:83px;
	height:18px;
	border:thin solid red;
	margin-left:250px;
}