@charset "utf-8";
/*	border-radius	:	HTML elementinin kenarlık / çerçeve köşelerinin yuvarlaklığını belirler.
Değerler			:	length | % | initial | inherit
length				:	Uzunluk değeri.
%					:	Yüzde değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
div{
	width:200px;
	height:200px;
	border:2px solid #F00;
	-webkit-border-radius:20%;
	-moz-border-radius:20%;
	-o-border-radius:20%;
	-ms-border-radius:20%;
	border-radius:20%;
}