@charset "utf-8";
/*	grid-auto-columns	:	Izgara düzeni içerisindeki element veya elementler için, oluşturulması gereken sütunların varsayılan genişliğini belirler.
Değerler				:	auto | max-content | min-content | length | initial
auto					:	Otomatik değer alır.
max-content				:	Maksimum içerik.
min-content				:	Minimum içerik.
length					:	Uzunluk değeri.
initial					:	HTML elementi varsayılan biçimlendirme değerine döner.	*/
.AnaEleman{
	display:grid;
	width:1000px;
	border:1px solid red;
	padding:10px;
	grid-auto-flow:column;
	grid-auto-columns:150px;
}
.IcElemanlar{
	border:1px solid blue;
	padding:10px;
}