@charset "utf-8";
/*	column-count	:	HTML elementinin çok sütunlu düzeni için bölünmesi gereken sütun sayısı özelliğini belirler.
Değerler			:	number | auto | initial | inherit
number				:	Rakam değeri.
auto				:	Otomatik değer alır.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	border:2px solid red;
	padding:10px;
	-webkit-column-count:auto;
	-moz-column-count:auto;
	-o-column-count:auto;
	-ms-column-count:auto;
	column-count:auto;
}