@charset "utf-8";
/*	column-rule		:	HTML elementinin çok sütunlu düzeni için bölünen sütunların aralarındaki dikey ayraç özelliklerini belirler.
Parametreler		:	column-rule-width | column-rule-style | column-rule-color
Değerler			:	rule value | initial | inherit
rule value			:	Kural değeri.
initial				:	HTML elementi varsayılan biçimlendirme değerine döner.
inherit				:	HTML elementi üst elementinin biçimlendirme değerini alır.	*/
p{
	-webkit-column-count:4;
	-moz-column-count:4;
	-o-column-count:4;
	-ms-column-count:4;
	column-count:4;
	-webkit-column-gap:100px;
	-moz-column-gap:100px;
	-o-column-gap:100px;
	-ms-column-gap:100px;
	column-gap:100px;
	-webkit-column-rule:10px dashed;
	-moz-column-rule:10px dashed;
	-o-column-rule:10px dashed;
	-ms-column-rule:10px dashed;
	column-rule:10px dashed;
}